.tg {
  border-collapse: collapse;
  border-spacing: 0;
}

.tg td {
  font-family: sans-serif;
  font-size: 14px;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: black;
}

.tg th {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: black;
}

.tg .tg-c3ow {
  border-color: inherit;
  text-align: center;
  vertical-align: top;
  background-image: linear-gradient(to bottom right, lightgray, gray);
}

.tg .tg-lqy6 {
  text-align: right;
  vertical-align: top;
}

.tg .tg-0lax {
  text-align: left;
  vertical-align: top;
}

.b {
  /* div for button */
  padding-bottom: 10px;
  text-align: center;
}

.bu {
  background-color: powderblue;
  text-align: center;
  font-family: sans-serif;
  border: 2px solid navy;
  height: 50px;
  width: 100px;
}
