  .tg {
    border-collapse: collapse; 
    border-spacing: 0;
    border-style: groove;
    border-width: 5px;
  }

  .tg td {
    font-family: sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: black;
  }

  .tg th {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: black;
  }

  .tg .tg-baqh { /* headers */
    text-align: center;
    vertical-align: top;
    background-image: linear-gradient(to right, lightgray , gray);
  }

  .tg .tg-lqy6 {
    text-align: right;
    vertical-align: top;
  }

  .tg .tg-ddb2 { /* first header */
    font-family: serif !important;
    ;
    text-align: center;
    vertical-align: top;
    background-image: linear-gradient(to right, lightgray , gray);
  }

  .tg .tg-0lax {
    text-align: left;
    vertical-align: top;
  }

  /* wrapped in div to centre button */

  .buttonGrade {
    text-align: center;
  }

  /* Style of button itself */

  .buttonG {
    background-color: #4CAF50;
    text-align: center;
    font-family: serif;
    padding: 15px 32px;
  }
